.button {
  border: none;
  outline: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  width: 100px;
  height: 3em;
  font-size: 1em;
  background-color: #00f8fb;
  font-weight: bold;
}

.capitalText {
  display: block;
  color: #00f8fb;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.search {
  padding-bottom: 2em;
  margin-bottom: 0.5em;
}
.input {
  width: 25%;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0 52px;
  height: 3em;
  border-radius: 25px 0 0 25px;
}

.input::-ms-clear {
  display: none;
}

.inputX {
  display: flex;
  justify-content: center;
}

.xButton {
  margin-right: -0.1em;
  display: inline-block;
  background-color: white;
  height: 3em;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0 0.5em;
  color: #dd2c00;
}

.displayStart {
  color: #00f8fb;
  font-size: 5em;
}

.button:hover {
  background-color: #1b5e20;
  color: #ffffff;
}

@media only screen and (max-width: 599px) {
  .capitalText {
    font-size: 1.6em;
  }
  .input {
    // margin-top: 0.5em;
    font-size: 0.9em;
    padding: 0 32px;
    width: 35%;
  }
  .button {
    font-size: 0.9em;
    width: 80px;
  }

  .xButton {
    // margin-top: 0.5em;
    border: none;
    outline: none;
    font-size: 0.9em;
  }

  .search {
    padding-bottom: 1em;
  }
}
